# Flutter/Dart
.dart_tool/
.packages
.pub/
pubspec.lock
build/

# IDE
.idea/
.vscode/
*.iml

# Platform folders
# NOTE: we commit ios/android so others can build immediately.
# Keep desktop/web generated folders ignored for now.
linux/
macos/
windows/
web/
